.Show {
  border: 5px solid transparent;
}

.Show:hover {
  transform: translateX(-5);
  border: 5px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.TitleOnly:hover {
  border: 5px solid transparent;
  cursor: unset;
}

.TitleOnly > * > .mantine-Group-root {
  margin: 0;
}

.TitleOnly > * > * > h3 {
  white-space: unset;
}
